* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Patrick Hand", sans-serif;
}

:root {
  background: url("../public/images/fondo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding-top: 20px;
  overflow-y: hidden;
}

.container__hand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: 20px;
  width: 100%;
}
@media only screen and (min-width: 370px) {
  .container__hand {
    top: 50px;
  }
}

hands-comp {
  margin: 0 30px;
}
